*{
	margin: 0px;
	padding: 0px;
}
.header{
	background: rgb(185, 197, 217);
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.container_header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 28px 0px 27px;
}
.nav__list{
	list-style: none;
	display: flex;
	gap: 30px;
}
.nav__item{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78pxš
letter-spacing: 0px;
text-align: left;

}
.hero-block{
	background-color: rgb(169, 183, 206);
;
}
.container_hero-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0px 60px;
}
.hero-block__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 70px;
}
.hero-block__link{
	color: rgb(0, 0, 0);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
letter-spacing: 0px;
text-align: left;
background: rgb(204, 150, 10);
padding: 14px 48px 15px;
border-radius: 6px;
text-decoration: none;
}
.hero-block__content{
	width: 415px;
}
.about{
background: rgb(185, 197, 217);

}
.container_about{
padding: 65px 0px 99px;
}
.about__title{
color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 33.89px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 57px;
}
.about__content{
display: flex;
align-items: center;
justify-content: space-between;
}
.about__text{
color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 33.89px;
letter-spacing: 0px;
text-align: left;
width: 438px;
}
.video{
	background: rgb(169, 183, 206);
}
.container_video{
padding: 60px 0px 100px;
}
.video__title{
color: rgb(228, 228, 228);
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58.09px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 81.45px;
}
.video__video{
	width: 100%;
	height: 641px;
	border: 52px solid rgb(185, 197, 217);
    border-radius: 26px;
    box-sizing: border-box;
}
.gallery{
	padding: 70px 0px 100px;
	background: rgb(185, 197, 217);

}
.gallary__title{
color: rgb(228, 228, 228);
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58.09px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 83px;
}
.gallery__list{
display: flex;
flex-wrap:wrap;
list-style: none;
}
.gallery__item{
width: 50%;
}
.gallery__img{
width: 100%;
}
.footer{
	background: rgb(169, 183, 206);

}
.container_footer{
padding: 50px 0px 55px;
display: flex;
justify-content: space-between;
align-items: center;
}
.footer__title{
color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36.31px;
letter-spacing: 0px;
text-align: left;

}
.footer__text{
color: rgb(228, 228, 228);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
letter-spacing: 0px;
text-align: left;

}
.footer__list{
display: flex;
list-style: none;
align-items: center;

}
.footer__item:not(:last-child){
	margin-right: 24.25px;
}














